* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

h1,
h2 {
    text-align: center;
}

body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fafafa;
}


header {
    width: 100%;
    height: 120px;
    background-color: #ececec;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main {
    width: 1440px;
    line-height: 1.5rem;
}

main h2 {
    margin: 16px;
}

main h3 {
    width: 100%;
    background-color: #ececec;
    padding: 8px;
    margin: 8px 0;
}

main ul li {
    list-style-position: inside;
}

main ul h4 {
    margin-top: 8px;
    border-bottom: 1px solid gray;
}

footer {
    width: 100%;
    margin-top: 32px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #646464;
    color: #fafafa;
}

footer p a:link,
footer p a:visited {
    color: #fafafa;
    text-decoration: none;
}